body{
    background-color: cornflowerblue;
    text-align: left;
}
p{.
color: darkorchid;
}
h1{color: goldenrod;
    font-style: italic;
}
.laura{
    color: palegreen;
    font-size: larger;
}
.img1{
    width: 23%;
}